html{
    font-family: inherit;
    font-size: 15px;
    box-sizing: border-box;
    color: black;
}

.container{
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    text-align: center;
    min-height: 98vh;
}
.menu {
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ff8502;
    border-radius: 1rem;
}
.users {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 6;
    border-radius: 1rem;
    font-weight: 800;
    font-size: 1.3rem;
}
.users h1{
    font-size: 3rem;
    border-bottom: solid silver;
    margin: 5rem 2rem;
}
.user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid;
    border-radius: 1rem;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
}
.input-box, .popup-input-box{
    width: 50%;
    height: 1.5rem;
    min-width: 200px;
    border-radius: 0.5rem;
    padding: .5rem;
    margin: 1rem;
}
.popup-select-box{
    width: 50%;
    min-height: 2.5rem;
    margin: 0.5rem;
    min-width: 200px;
    padding: .5rem;
}
.add-user-button,
.add-payment-button,
.accept-button {
    background:transparent;
    border:none;
    font-weight: 900;
    color: black;
    margin: 1rem;
    font-size: 1rem;
}
.accept-button {
    background-color: #ff8502;
    padding: 0.5rem;
    border-radius: 1rem;
}

.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}
.popup .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 450px;
    min-height: 25%;
    z-index: 2;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}
.popup p{
    font-size: 1.1rem;
}
.popup .close-btn{
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: transparent;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.5rem;
    text-align: center;
}
.popup{
    display: none;
}
.add-user-button:hover,
.add-payment-button:hover,
.accept-button:hover,
.close-btn:hover {
    cursor: pointer;
}